In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

school_data_to_load = pd.read_csv("Resources/schools_complete.csv")
students_data_to_load = pd.read_csv("Resources/students_complete.csv")

In [4]:
total_schools = school_data_to_load ['school_name'].nunique()
school_type = school_data_to_load ['type'].nunique()
total_students = students_data_to_load['student_name'].count()
total_budget = school_data_to_load['budget'].sum()
average_math_score = students_data_to_load['math_score'].mean()
average_reading_score = students_data_to_load['reading_score'].mean()
students_data_to_load['math_passing'] = np.where(students_data_to_load['math_score'] >= 70, 1, 0)
percent_passing_math = (students_data_to_load['math_passing'].mean()) * 100
students_data_to_load['reading_passing'] = np.where(students_data_to_load['reading_score'] >= 70, 1, 0)
percent_passing_reading = (students_data_to_load['reading_passing'].mean()) * 100
students_data_to_load['overall_passing'] = np.where((students_data_to_load['math_score'] >= 70) & (students_data_to_load['reading_score'] >= 70), 1, 0)
percent_overall_passing = (students_data_to_load['overall_passing'].mean()) * 100

In [11]:
summary_df = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [percent_passing_math],
    '% Passing Reading': [percent_passing_reading],
    '% Overall Passing': [percent_overall_passing]
    
})
summary_df['Per Student Budget'] = summary_df['Total Budget'] / summary_df['Total Students']

In [6]:
top_schools = summary_df.sort_values('% Overall Passing', ascending=False).head(5)

In [7]:
bottom_schools = summary_df.sort_values('% Overall Passing').head(5)

In [11]:
math_scores_by_grade = students_data_to_load.pivot_table(index='school_name', columns='grade', values='math_score')

In [12]:
reading_scores_by_grade = students_data_to_load.pivot_table(index='school_name', columns='grade', values='reading_score')

In [21]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

summary_df['Spending Ranges (Per Student)'] = pd.cut(summary_df['Per Student Budget'], spending_bins, labels=labels)

In [22]:
print(summary_df.columns)
display(summary_df)

Index(['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score',
       'Average Reading Score', '% Passing Math', '% Passing Reading',
       '% Overall Passing', 'Per Student Budget',
       'Spending Ranges (Per Student)'],
      dtype='object')

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Per Student Budget,Spending Ranges (Per Student)
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326,629.293541,$585-630

In [23]:
spending_math_scores = summary_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = summary_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = summary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = summary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = summary_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [24]:
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

In [25]:
display(spending_summary)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,NaN,NaN,NaN,NaN,NaN
$585-630,78.985371,81.87784,74.980853,85.805463,65.172326
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN

In [27]:
spending_summary.isnull().sum()

Average Math Score       3
Average Reading Score    3
% Passing Math           3
% Passing Reading        3
% Overall Passing        3
dtype: int64

In [ ]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], size_bins, labels=labels)